.window {
    z-index: 100;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    height: 1000px;
    width: 360px;
    background: #fff;
    background: url(https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823) top left no-repeat;
}